.text-green {
  color: green;
}
* {
    color:grey;
}
a {
    color:black
}

#main-title {
    font-family: Arial, Helvetica, sans-serif;
}
ul li {
    font-weight: 700;
    font-size: 18px;
}

.content-block > * {
    color: coral;
}

a:hover {
    background: #786b59; 
   }


a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
 